version: '3.8'

services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: toolbox-tv-api
    ports:
      - "3000:3000"
    restart: unless-stopped

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: toolbox-tv-app
    ports:
      - "8080:80"
    depends_on:
      - api
    restart: unless-stopped
