.header {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.logo {
  width: 10vw;
  height: auto;
  opacity: 0.8;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.itemsList {
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: auto;

  li {
    opacity: 0.8;
    a {
      text-decoration: none;
      color: inherit;
      transition: color 0.3s ease;
    }
  }
}

.active {
  font-weight: bold;
  opacity: 1 !important;
  color: var(--color-primary);
}

.focused {
  opacity: 1 !important;
  color: var(--color-primary-light);
}

.logoFocused {
  opacity: 1;
  transform: scale(1.3);
}
