.pageView {
  display: flex;
  gap: 2rem;
  transition: all 0.4s ease-out;
}

.cardLists {
  flex: 2;
  overflow: auto;
  height: 80vh;
  transition: flex 0.4s ease-out;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */

  &::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
  }
}

.contentPage {
    padding: 1rem 2rem;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}