.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;

    p {
        font-size: 2rem;
    }

    img {
        width: 15vw;
        height: auto;
    }
}